<footer class="footer" role="contentinfo">
    <div class="footer__container">
        <div class="footer__col">
            <h3 class="footer__title">About</h3>
            <p class="footer__description"></p>
            <div class="footer__socials">
                <a href="#" class="footer__social-link" aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="footer__social-link" aria-label="Twitter">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="footer__social-link" aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>

        <div class="footer__col">
            <h3 class="footer__title">Quick Links</h3>
            <ul class="footer__list">
                <li class="footer__item"><a href="#" class="footer__link">Home</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Destinations</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Travel Packages</a></li>
                <li class="footer__item"><a href="#" class="footer__link">Contact Us</a></li>
            </ul>
        </div>


        <div class="footer__col">
            <h3 class="footer__title">Contact</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <i class="fas fa-map-marker-alt footer__icon"></i>
                    Tan Binh, TP.HCM
                </li>
                <li class="footer__item">
                    <i class="fas fa-phone-alt footer__icon"></i>
                    +84 328 676 629
                </li>
                <li class="footer__item">
                    <i class="fas fa-envelope footer__icon"></i>
                    trangnq@teamsolutions.com
                </li>
            </ul>
        </div>
    </div>

    <div class="footer__copyright">
        <p>&copy; 2025 TravelTeamSolutions. All rights reserved.</p>
    </div>
</footer>