@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin absolute-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin responsive($breakpoint) {
    @if $breakpoint ==xs {
        @media (max-width: 480px) {
            @content;
        }
    }

    @if $breakpoint ==sm {
        @media (min-width: 481px) {
            @content;
        }
    }

    @if $breakpoint ==md {
        @media (min-width: 769px) {
            @content;
        }
    }

    @if $breakpoint ==lg {
        @media (min-width: 1025px) {
            @content;
        }
    }

    @if $breakpoint ==xl {
        @media (min-width: 1201px) {
            @content;
        }
    }
}